{% extends "base.html.twig" %}

{% block title %}Show All{% endblock %}

{% block body %}
    {% for user in users %}
        <a href="{{ path('mailbox_user_show', {'id': user.id}) }}">{{ user.name }}</a> <a class="btn"
                                                                                          href="{{ path('mailbox_user_edit', {'id' : user.id}) }}">Edit</a>
        <a class="btn" href="{{ path('mailbox_user_edit', {'id' : user.id}) }}">Delete</a>
        <br>
        {{ user.surname }}
        <br>
        {{ user.description }}
        <br>
    {% endfor %}
    <div>
        <a href="{{ path('mailbox_user_new') }}">Add new contact</a>
    </div>
{% endblock %}